.header {
    &__wrapper {
        padding: 0 15px;
        position: relative;
        max-width: 1520px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        font-family: 'Geometria',sans-serif;
        font-style: normal;
        height: 100px;
        @media (min-width:601px) {
            height: 140px;
        }
        @media (min-width:601px) and (max-width:1199px) {
            max-width: 728px;
            padding: 0;
            height: 80px;
        }
        @media (min-width:1200px) and (max-width:1601px) {
            max-width: 1020px;
            padding: 0;
            height: 120px;
        }
    }
    &__logo {
        width: 92px;
        height: 100px;
        @media (min-width:601px) {
            width: 120px;
            height: 129px;
        }
        @media (min-width:1200px) and (max-width:1601px) {
            width: 88px;
            height: 96px;
            margin-top: 12px;
        }
        @media (min-width:601px) and (max-width:1199px) {
            width: 65px;
            height: 70px;
            margin-top: 5px;
        }
    }
    &__content {
        a {
            &:hover {
                opacity: 0.8;
            }
        }
        @media (min-width:601px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    &__contact {
        height: 50px;
        display: flex;
        align-items: center;
        @media (min-width:601px) {
            justify-content: space-between;
            width: 80%;
            height: 70px;
        }
        @media (min-width:1199px) and (max-width:1601px) {
            height: 60px;
            width: 90%;
        }
        @media (min-width:601px) and (max-width:1199px) {
            height: 40px;
        }
    }
    &__nav {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 50px;
        width: 100%;
        @media (min-width:601px) {
            height: 70px;
            display: flex;
            justify-content: center;
        }
        @media (min-width:1199px) and (max-width:1601px) {
            height: 60px;
            width: initial;
        }
        @media (min-width:601px) and (max-width:1199px) {
            height: 40px;
            width: initial;
        }
    }
    &__burger {
        @media (min-width:601px) {
            display: none;
        }
    }
}
