.header {
    padding-bottom: 500px;
    &__wrapper {
        padding: 0 15px;
        position: relative;
        max-width: 1520px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        font-family: 'Geometria',sans-serif;
        font-style: normal;
        height: 100px;
    }
    &__logo {
        width: 92px;
        height: 100px;
    }
    &__content {
    }
    &__contact {
        height: 50px;
        display: flex;
        align-items: center;
    }
    &__nav {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 50px;
        width: 100%;
    }
}
