.nav {
    position: absolute;
    bottom: -200px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: -100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    &__elem {
        width: 100%;
        font-weight: normal;
        font-size: 18px;
        line-height: 120%;
        color: #000000;
        display: block;
        text-align: center;
        padding: 5px 0;
    }
}