.slider {
    &-howto {
        &__slide {
            a {
                display: block;
                position: relative;
                background-position: center;
                background-size: 115%;
                background-repeat: no-repeat;
                height: 221px;
                width: 345px;
                margin: 0 auto;
                cursor: pointer;
                border-radius: 20px;
                transition: 0.3s ease;
                &:hover {
                    background-size: 125%;
                }
                @media (min-width:601px) {
                    width: 465px;
                    height: 299px;
                }
                @media (min-width:1200px) and (max-width:1601px) {
                    width: 313px;
                    height: 201px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    width: 223.4px;
                    height: 143.46px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: var(--my-color-var);
                    border-radius: 20px;
                    background-image: url(../img/howto/play.svg);
                    background-size: 70px 70px;
                    background-position: center;
                    background-repeat: no-repeat;
                    @media (min-width:601px) {
                        background-size: 94px 94px;
                    }
                    @media (min-width:1200px) and (max-width:1601px)  {
                        background-size: 64px 64px;
                    }
                    @media (min-width: 601px) and (max-width: 1199px) {
                        background-size: 44px 44px;
                    }
                }
            }
        }
        .slick-dots {
            bottom: -40px;
        }
        .slick-dots li {
            width: 10px;
            height: 10px;
        }
        .slick-dots li button {
            width: 10px;
            height: 10px;
            &:before {
                opacity: 1;
                border: 1px solid #000000;
                border-radius: 50%;
                content: '';
                transition: 0.3s ease;
                width: 10px;
                height: 10px;
            }
        }
        .slick-dots li.slick-active button:before {
            background-color: #74077E;
            border-color: #74077E;
        }
        .slick-slide {
            margin: 0 30px;
            @media (min-width:601px) and (max-width:769px) {
                margin: 0 20px;
            }
        }
        .slick-list {
            margin: 0 -30px;
            @media (min-width:601px) and (max-width:769px) {
                margin: 0 -20px;
            }
        }
    }
    &-reviews {
        &__slide {
            display: flex;
            flex-direction: column;
            padding: 25px 35px;
            align-items: center;
            background: #F4F4F4;
            border-radius: 20px;
            @media (min-width:601px) {
                display: flex !important;
                flex-direction: row;
                height: 345px;
                padding: 40px;
            }
            @media (min-width:1200px) and (max-width:1601px)  {
                padding: 26px;
                height: initial;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                height: initial;
                padding: 19px;
            }
        }
        &__name {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                display: block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 69px;
                height: 69px;
                @media (min-width:601px) {
                    width: 89px;
                    height: 89px;
                }
                @media (min-width:1200px) and (max-width:1601px)  {
                    width: 60px;
                    height: 60px;                    
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    width: 42.64px;
                    height: 42.64px;
                }
            }
            p {
                font-family: 'Montserrat',sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 150%;
                text-align: center;
                letter-spacing: 0.02em;
                color: #000000;
                margin: 10px 0 20px;
                @media (min-width:601px) {
                    margin: 20px 0 0;
                    font-size: 14px;
                }
                @media (min-width:1200px) and (max-width:1601px)  {
                    margin-top: 13px;
                    font-size: 10px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    font-size: 8px;
                    margin-top: 8px;
                }
            }
        }
        &__text {
            font-family: 'Geometria',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            text-align: center;
            letter-spacing: 0.02em;
            color: rgba(0, 0, 0, 0.7);  
            @media (min-width:601px) {
                font-size: 18px;
                text-align: left;
                margin-left: 30px;
            } 
            @media (min-width:1200px) and (max-width:1601px)  {
                font-size: 12px;
                margin-left: 12px;
            }   
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 9px;
                margin-left: 14px;
            }                  
        }
        //dots
        .slick-dots {
            bottom: -30px;
            @media (min-width:601px) {
                bottom: initial;
                top:-93px;
                left: 0;
                text-align: left;
            }
            @media (min-width:1200px) and (max-width:1601px) {
                top: -70px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                top:-50px;
            }
        }
        .slick-dots li {
            width: 10px;
            height: 10px;
            @media (min-width:601px) {
                width: 17px;
                height: 17px;
            }
            @media (min-width:1200px) and (max-width:1601px)  {
                width: 12px;
                height: 12px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 8.56px;
                height: 8.56px;
            }
        }
        .slick-dots li button {
            width: 10px;
            height: 10px;
            @media (min-width:601px) {
                width: 17px;
                height: 17px;
            }
            @media (min-width:1200px) and (max-width:1601px)  {
                width: 12px;
                height: 12px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 8.56px;
                height: 8.56px;
            }
            &:before {
                opacity: 1;
                border: 1px solid #000000;
                border-radius: 50%;
                content: '';
                transition: 0.3s ease;
                width: 10px;
                height: 10px;
                @media (min-width:601px) {
                    width: 17px;
                    height: 17px;
                }
                @media (min-width:1200px) and (max-width:1601px)  {
                    width: 12px;
                    height: 12px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    width: 8.56px;
                    height: 8.56px;
                }
            }
        }
        .slick-dots li.slick-active button:before {
            background-color: #74077E;
            border-color: #74077E;
        }
        .slick-slide {
            margin: 0 30px;
        }
        .slick-list {
            margin: 0 -30px;
        }
        //arrow 
        .slick-prev {
            top:-105px;
            transform: translate(0);
            left: initial;
            right: 58px;
            width: 14px;
            height: 27px;
            z-index: 5;
            @media (min-width:1200px) and (max-width:1601px) {
                top: -70px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                top: -50px;
                right: 30px;
            }
            &:before {
                content: '';
                top:0;
                left: 0;
                position: absolute;
                background-image: url(../img/arrow.svg);
                transform: rotate(180deg);
                width: 14px;
                height: 27px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @media (min-width: 601px) and (max-width: 1199px) {
                    width: 8.56px;
                    height: 17.13px;
                }
            }
        }
        .slick-next {
            top:-105px;
            transform: translate(0);
            left: initial;
            right: 0;
            width: 14px;
            height: 27px;
            z-index: 5;
            @media (min-width:1200px) and (max-width:1601px) {
                top: -70px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                top: -50px;
            }
            &:before {
                content: '';
                top:0;
                left: 0;
                position: absolute;
                background-image: url(../img/arrow.svg);
                width: 14px;
                height: 27px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @media (min-width: 601px) and (max-width: 1199px) {
                    width: 8.56px;
                    height: 17.13px;
                }
            }
        }
    }
}