.equipment {
    padding: 50px 0 0;
    @media (min-width:601px) {
        background-color: #F4F4F4; 
        padding: 80px 0 65px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0 112px;
        @media (min-width:601px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 30px 0 0;
        }
        @media (min-width:601px) and (max-width: 1247px) {
            justify-content: center;
        }
        p {
            font-family: 'Geometria',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            text-align: center;
            letter-spacing: 0.02em;
            color: rgba(0, 0, 0, 0.7);
            @media (min-width:601px) {
                text-align: left;
                font-size: 18px;
            }
        }
        
    }
    &__text {
        &-1 {
            padding: 40px 0 35px;
            @media (min-width:601px) {
                display: block;
                width: 730px;
                padding: 0;
                margin: 44px 0 70px;
            }
        }
        &-2 {
            padding: 35px 0 20px;
            @media (min-width:601px) {
                width: 852px;
                order: 1;
            }
        }
    }
    &__benefits {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        @media (min-width:601px) {
            margin-top: 46px;
        }
        a {
            width: 44px;
            height: 44px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 15px;
            @media (min-width:601px) {
                margin-bottom: 0;
                width: 59px;
                height: 59px;
            }
        }
        p {
            text-align: left;
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            letter-spacing: 0.02em;
            color: #000000;
            @media (min-width:601px) {
                font-size: 16px;
                margin-left: 32px;
                max-width: 228px;
            }
        }
    }
    &__item {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        @media (min-width:601px) {
            flex-direction: row;
            align-items: center;
            margin-bottom: 48px;
        }
    }
    &__img {
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        &-1 {
            width: 260px;
            height: 276px;
            background-image: url(../img/equipment/1.png);
            @media (min-width:601px) {
                background-image: url(../img/equipment/1-big.png);
                width: 608px;
                height: 417px;
                margin: 70px 0 80px;
            }
        }
        &-2 {
            width: 246px;
            height: 167px;
            background-image: url(../img/equipment/2.png);
            @media (min-width:601px) {
                width: 563px;
                height: 381px;
                order: 2;
            }
            @media (min-width:601px) and (max-width: 1445px) {
                width: 30%;
            }
            @media (min-width:601px) and (max-width: 1247px) {
                width: 100%;
            }
        }
    }
    &__btn {
        width: 345px;
        height: 50px;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        @media (min-width:601px) {
            order: 3;
        }
        @media (min-width:601px) and (max-width: 1247px) {
            margin-top: 30px;
        }
    }
}