.examples {
    padding: 0 0 80px;
    @media (min-width:601px) {
        padding: 150px 0 160px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 354px;
            height: 531px;
            background-image: url(../img/howto/back.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            left: 0;
            top: 0;
            z-index: -1;
            @media (min-width:601px) and (max-width:1281px) {
                width: 267px;
                height: 400px;
            }
        }
    }
    @media (min-width:601px) and (max-width:1281px) {
        padding: 100px 0 140px; 
    }
    &__content {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        @media (min-width:601px) {
            margin-top: 70px;
            justify-content: space-between;
        }
        @media (min-width:601px) and (max-width: 1489px) {
            justify-content: space-evenly;
        }
        @media (min-width:601px) and (max-width:1281px) {
            justify-content: space-between;
            margin-top: 60px;
        }
    }
    &__item {
        display: flex;
        margin-bottom: 20px;
        @media (min-width:601px) {
            margin-bottom: 60px;
        }
        @media (min-width:601px) and (max-width:1281px) {
            margin-bottom: 40px;
        }
        a {
            display: block;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 180px;
            width: 172px;
            @media (min-width:601px) {
                width: 365px;
                height: 316px;
            }
            @media (min-width:601px) and (max-width:1281px) {
                width: 245px;
                height: 212px;
            }
        }
        span {
            width: 62px;
            height: 19px;
            position: absolute;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 9px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;
            background: linear-gradient(90deg, #74077E 0%, #7A64A3 36.98%, #81C8CA 100%);
            @media (min-width:601px) {
                width: 132px;
                height: 40px;
                font-size: 18px;
            }
            @media (min-width:601px) and (max-width:1281px) {
                width: 89px;
                height: 27px;
                font-size: 12px;
            }
        }
        &-left {
            position: relative;
            width: 50%;
            border-radius: 9px 0px 0px 9px;
            border-right: 2px solid #74077E;
            @media (min-width:601px) {
                border-radius: 20px 0px 0px 20px; 
                border-right: 3px solid #74077E;
            }
            @media (min-width:601px) and (max-width:1281px) {
                border-radius: 13px 0px 0px 13px;
                border-right: 2px solid #74077E;
            }
            span {
                left: 0;
                border-radius: 9px 0px;
                @media (min-width:601px) {
                    border-radius: 20px 0px;
                }
                @media (min-width:601px) and (max-width:1281px) {
                    border-radius: 13px 0px;
                }
            }
        }
        &-right {
            width: 50%;
            position: relative;
            border-radius: 0px 9px 9px 0px;
            @media (min-width:601px) {
                border-radius: 0px 20px 20px 0px; 
            }
            @media (min-width:601px) and (max-width:1281px) {
                border-radius:0 13px 13px 0px;
            }
            span {
                right: 0;
                border-radius: 0px 9px;
                @media (min-width:601px) {
                    border-radius: 0px 20px;
                }
                @media (min-width:601px) and (max-width:1281px) {
                    border-radius:0 13px;
                }
            }
        }
    }
    &__btn {
        margin-top: 45px;
        width: 100%;
        height: 50px;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        @media (min-width:601px) {
            margin: 0 auto;
            margin-top: 20px;
            width: 252px;
            height: 50px;
            font-size: 18px;
        }
        @media (min-width:601px) and (max-width:1281px) {
            width: 224px;
            height: 44px;
            font-size: 16px;
        }
    }
}