.havequestions {
    background: #F4F4F4;
    border-radius: 20px;
    padding: 25px 0 30px;
    @media (min-width:601px) {
        padding: 54px 0 59px;
        max-width: 1520px;
        margin: 0 auto;
        padding-left: 57px;
    }
    @media (min-width:1200px) and (max-width:1601px) {
        max-width: 1020px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        max-width: 728px;
    }
    &__content {
        @media (min-width:601px) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        @media (min-width: 601px) and (max-width: 1199px) {

        }
        
    }
    &__title {
        h2 {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #000000; 
            @media (min-width:601px) {
                font-size: 48px;
                text-align: left;
            }    
            @media (min-width:1200px) and (max-width:1601px) {
                font-size: 30px;
            }  
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 21px;
            }    
        }
        p {
            font-family: 'Geometria',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 120%;
            text-align: center;
            color: #000000;  
            max-width: 276px; 
            margin: 10px auto 20px;
            @media (min-width:601px) {
                max-width: initial;
                margin: 0;
                font-size: 18px;
                margin-top: 15px;
            }
            @media (min-width:1200px) and (max-width:1601px) {
                font-size: 14px;
                text-align: left;
                max-width: 375px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                margin-top: 9px;
                max-width: 265.51px;
                text-align: left;
                font-size: 10px;
            }
        }
    }
    &__form {
        @media (min-width:601px) {
            width: 48%;
            align-items: center;
            .iti {
                margin-bottom: 0;
            }
        }
        @media (min-width:1200px) and (max-width:1601px) {
            width: 55%;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 55%;
        }
    }
}