.howto {
    padding-bottom: 110px;
    position: relative;
    @media (min-width:601px) {
        &:before {
            content: '';
            position: absolute;
            width: 354px;
            height: 531px;
            background-image: url(../img/howto/back.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            right: 0;
            bottom: 0;
            z-index: -1;
            @media (min-width:1200px) and (max-width:1601px) {
                width: 267px;
                height: 400px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 203px;
                height: 302px;
            }
        }
    }
    @media (min-width:1200px) and (max-width:1601px)  {
        padding-bottom: 100px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        padding-bottom: 80px;
    }
    &__info {
        font-family: 'Geometria',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.7);  
        margin: 15px 0 26px;  
        @media (min-width:601px) {
            font-size: 18px;
            margin: 30px auto 60px; 
            max-width: 753px;
        } 
        @media (min-width:1200px) and (max-width:1601px)  {
            font-size: 14px;
            margin: 20px auto 40px;
            max-width: 645px;
        } 
        @media (min-width: 601px) and (max-width: 1199px) {
            margin: 14px auto 28px;
            font-size: 10px;
            max-width: 457px;
        }  
    }
}