.intro {
    padding-bottom: 255px;
    padding-top: 40px;
    position: relative;
    @media (min-width:601px) {
        padding: 176px 0;
        max-width: 1520px;
        margin: 0 auto;
    }
    @media (min-width:601px) and (max-width:1281px) {
        max-width: 1020px;
        padding: 100px 0;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0px;
        background-image: url(../img/intro/div-mob.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 360px;
        height: 200px;
        @media (min-width:601px) {
            background-image: url(../img/intro/div.png);
            width: 646px;
            height: 453px;
            bottom: initial;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        @media (min-width:601px) and (max-width:1000px) {
            opacity: 0.4;
        }
        @media (min-width:601px) and (max-width:1281px) {
            width: 565px;
            height: 301px;
            right: -90px;
        }
    }
    &__gradient {
        background: linear-gradient(230.31deg, #EDEDED 0%, rgba(237, 237, 237, 0) 38.61%);
        &:after {
            @media (min-width:601px) {
                content: '';
                position: absolute;
                top: 160px;
                left: 0px;
                background-image: url(../img/intro/circle.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 267px;
                height: 375px;
            }
            @media (min-width:601px) and (max-width:1000px) {
                opacity: 0.4;
            }
            @media (min-width:601px) and (max-width:1281px) {
                width: 178px;
                height: 252px;
            }
        }
    }
    &__content {
        @media (min-width:601px) {
            max-width: 674px;
            position: relative;
            z-index: 2;
        }
        @media (min-width:601px) and (max-width:1281px) {
            max-width: 490px;
        }
    }
    &__title {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #000000;
        @media (min-width:601px) {
            font-size: 60px;
            max-width: 674px;
        }
        @media (min-width:601px) and (max-width:1281px) {
            font-size: 40px;
            max-width: 490px;
        }
    }
    &__info {
        margin: 15px 0 32px;
        font-family: 'Geometria',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.7);
        @media (min-width:601px) {
            margin: 40px 0 50px;
            font-size: 18px;
            max-width: 628px;
        }
        @media (min-width:601px) and (max-width:1281px) {
            font-size: 14px;
            max-width: 490px;
            margin: 20px 0 45px;
        }
        span {
            font-weight: bold;
        }
    }
    &__form {

    }
}