.popup {
    &-master {
        p {
            font-family: 'Geometria',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 120%;
            color: rgba(0, 0, 0, 0.7);
            @media (min-width:601px) {
                font-size: 14px;
            }
        }
    }
    &-call {
        p {
            font-family: 'Geometria',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 120%;
            color: rgba(0, 0, 0, 0.7);
            display: block;
            position: absolute;
            bottom: -38px;
            left: 24px;
            @media (min-width:601px) {
                font-size: 14px;
                display: flex;
                align-items: center;
                max-width: 245px;
                margin-left: 28px;
                position: relative;
                bottom: initial;
                left:initial;
            }
        }
    }
    &-exellent {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);;
        z-index: 30;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        &.active {
            display: block;
        }
        &__cross {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
            background-image: url(../img/popup/cross.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            transition: 0.3s ease;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
        }
        &__body {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 15px;
            background-color: white;
            padding: 153px 123px 153px 197px;
            @media (max-width:601px) {
                padding: 134px 29px 129px 87px;
                min-width: 300px;
            }
            &:after {
                content: '';
                position: absolute;
                top:0;
                left: 0;
                background-image: url(../img/popup/circle.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 115px;
                height: 116px;
                @media (min-width:601px) {
                    width: 141px;
                    height: 142px; 
                }
            }
            &:before {
                content: '';
                position: absolute;
                bottom:-1px;
                right: 0;
                background-image: url(../img/popup/circle2.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 115px;
                height: 116px;
                @media (min-width:601px) {
                    width: 141px;
                    height: 142px; 
                }
            }
            p {
                font-family: 'Montserrat',sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 120%;
                letter-spacing: 0.02em;
                color: #000000;
                max-width: 607px;
                position: relative;
                @media (max-width:601px) {
                    font-size: 14px;
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -95px;
                    background-image: url(../img/popup/yes.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 71.5px;
                    height: 71.5px;
                    @media (max-width:601px) {
                        width: 54px;
                        height: 54px;
                        left: -64px;
                    }
                }
                span {
                    background: linear-gradient(180deg, #76067D 52.08%, #7D73A8 77.6%, #83CFCD 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}

.top-btn {
    display: block;
    position: fixed;
    width: 70px;
    height: 70px;
    cursor: pointer;
    bottom: 50px;
    right: 20px;
    background-image: url(../img/top-btn.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none;	
    opacity:0.8;
    transition: 0.3s ease;
    @media (max-width:601px) {
        width: 40px;
        height: 40px;
    }
    &:hover {
        opacity: 1;
    }
}