.services {
    padding: 70px 0 80px;
    @media (min-width:601px) {
        display: flex;
        flex-direction: column;
        padding: 150px 0 150px;
    }
    &__furniture {
        margin-top: 54px;
        @media (min-width:601px) {
            margin-top: 75px;
            width: 100%;
        }
    }
    &__serv {
        @media (min-width:601px) {
            width: 100%;
        }
    }
    &__btn {
        width: 100%;
        height: 50px;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        @media (min-width:601px) {  
            width: 252px;
            height: 50px;
            margin: 0 auto;
            margin-top: 80px;
        }
    }
}

.furniture {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__card {
        width: 45%;
        margin-bottom: 53px;
        @media (min-width:601px) {
            width: 23%;
            margin-bottom: 70px;
        }
    }
    &__img {
        display: block;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 116px;
        @media (min-width:601px) {
            height: 143px;
        }
    }
    &__title {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #000000;
        @media (min-width:601px) {
            font-size: 24px;
            line-height: 29px;
        }

    }
    &__price {
        font-family: 'Geometria',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #000000;
        margin: 7px 0 14px;
        @media (min-width:601px) {
            font-size: 18px;
            line-height: 23px;
            margin: 9px 0 18px;
        }
    }
    &__btn {
        height: 28px;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        color: #000000;
        @media (min-width:601px) {
            width: 149px;
            height: 38px;
            margin: 0 auto;
            font-size: 14px;
            line-height: 17px;
        }
    }
}

.serv {
    display: flex;
    flex-wrap: wrap;
    @media (min-width:601px) {
        margin-top: 35px;
        justify-content: space-evenly;
    }
    &__card {
        width: 100%;
        display: flex;
        margin-bottom: 50px;
        @media (min-width:601px) {
            width: 40%;
            margin-bottom: 80px;
        }
    }
    &__img {
        display: block;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 79px;
        width: 79px;
        @media (min-width:601px) {
            height: 125px;
            width: 125px; 
        }
    }
    &__info {
        width: 100%;
        margin-left: 6px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (min-width:601px) {
            margin-left: 33px;
        }
    }
    &__title {
        width: 100%;
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        color: #000000;
        margin-bottom: 17px;
        @media (min-width:601px) {
            font-size: 24px;
            line-height: 28px;
        }
    }
    &__price {
        max-width: 81px;
        font-family: 'Geometria',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        display: inline-flex;
        align-items: center;
        @media (min-width:601px) {
            font-size: 18px;
            line-height: 21px;
            max-width: initial;
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &__btn {
        width: 163px;
        height: 28px;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        color: #000000;
        @media (min-width:601px) {
            width: 149px;
            height: 38px;
            font-size: 14px;
            line-height: 17px;
        }
    }
    &__stock {
        width: 100%;
        background: linear-gradient(90deg, #74077E -1.1%, #794F9B 31.59%, #81C8CA 100%);
        border-radius: 20px;
        color: white;
        padding: 24px 19px;
        margin-bottom: 40px;
        @media (min-width:601px) {
            width: 40%;
            max-width: 544px;
            padding: 25px 36px;
        }
        h4 {
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 120%;
            margin-bottom: 10px; 
            @media (min-width:601px) {
                font-size: 24px;
            }                      
        }
        p {
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            letter-spacing: 0.02em;   
            @media (min-width:601px) {
                font-size: 14px;
            }        
        }
    }
}