<div class="backcall">
    <div class="wrapper">
        <div class="backcall__title title">
            <h2>Обратная связь</h2>
        </div>
        <div class="backcall__content">
            <div class="backcall__map">
                <a></a>
                <div class="backcall__map-info">
                    <span>Адрес</span>
                    <p>Санкт-Петербург, Руставели 13Б, Бц ручьи</p>
                </div>
            </div>
            <form action="" class="backcall__form form-backcall">
                <input type="name" placeholder="Введите имя" required>
                <input type="tel" placeholder="Введите свой телефон" required maxlength="14" onKeyPress="cislo()">
                <input type="email" placeholder="Введите E-mail" required>
                <textarea placeholder="Напишите сообщение" required></textarea>
                <input class="btn" type="submit" value="Отправить">
            </form>
        </div>
    </div>
</div>