<div class="backcall" id="backcall">
    <div class="wrapper">
        <div class="backcall__title title">
            <h2>Обратная связь</h2>
        </div>
        <div class="backcall__content">
            <div class="backcall__map">
                <a class="lazy"></a>
                <div class="backcall__map-info">
                    <span>Адрес</span>
                    <p>Санкт-Петербург, Руставели 13Б, Бц ручьи</p>
                </div>
            </div>
            <form enctype="multipart/form-data" method="post" id="form" onsubmit="send(event, 'mail.php')" class="backcall__form form-backcall">
                <input name="name" type="name" placeholder="Введите имя" required>
                <input name="number" type="tel" placeholder="Введите свой телефон" required maxlength="14" onKeyPress="cislo()">
                <input name="email" type="email" placeholder="Введите E-mail" required>
                <textarea name="text" placeholder="Напишите сообщение" required></textarea>
                <input class="btn" type="submit" value="Отправить">
            </form>
        </div>
    </div>
</div>