<div class="benefits">
    <div class="wrapper">
        <div class="benefits__title title">
            <h2>Наши примущества</h2>
        </div>
        <div class="benefits__content">
            <div class="benefits__elem">
                <a style="background-image: url(img/benefits/1.svg);"></a>
                <p>Используем премиальные чистящие средства</p>
            </div>
            <div class="benefits__elem">
                <a style="background-image: url(img/benefits/2.svg);"></a>
                <p>Широкий спектр предоставляемых услуг</p>
            </div>
            <div class="benefits__elem">
                <a style="background-image: url(img/benefits/3.svg);"></a>
                <p>Высококвалифицированный штат специалистов</p>
            </div>
            <div class="benefits__elem">
                <a style="background-image: url(img/benefits/4.svg);"></a>
                <p>Выезд в течение 30 минут</p>
            </div>
            <div class="benefits__elem">
                <a style="background-image: url(img/benefits/5.svg);"></a>
                <p>100% гарантия сохранности мебели</p>
            </div>
            <div class="benefits__elem">
                <a style="background-image: url(img/benefits/6.svg);"></a>
                <p>Программа лояльности</p>
            </div>
        </div>
    </div>
</div>