<div class="company" id="company">
    <div class="wrapper">
        <div class="company__title title">
            <h2>О компании</h2>
        </div>
        <div class="company__content">
            <div class="company__logo">
                <a class="logo lazy"></a>
            </div>
            <div class="company__text-1">
                <p>Апрель-клининг - клининговая компания, которая предоставляет профессиональные услуги на рынке Санкт-Петерурга с 2009 года.
                    <br><br>
                    Мягкая мебель — это украшение интерьера, однако она нуждается в постоянном тщательном уходе, что является весьма трудной задачей. Чаще всего люди задумываются о чистке мебели только в момент её загрязнения. Однако специалисты советуют производить чистку мебели регулярно, особенно когда в доме есть маленькие дети. Осуществлять химчистку диванов необходимо не менее 1-2 раза в год. В обивке мебели скапливается большое количество всевозможной пыли, что способствует возникновению пылевых клещей. Кроме того, в обивку дивана забивается шерсть домашних питомцев, крошки и человеческий эпителий. 
                </p>
                <div class="company__benefits">
                    <div class="company__benefits-elem"><span>20</span><p>Сотдрудников</p></div>
                    <div class="company__benefits-elem"><span>20</span><p>Заказов по химчистке выполняем каждый день</p></div>
                    <div class="company__benefits-elem"><span>5000</span><p>Выполненных заказов</p></div>
                    <div class="company__benefits-elem"><span>40%</span><p>Клиентов по рекомендации</p></div>
                </div>
            </div>
            <div class="company__text-2">
                Пыль состоит из множества частиц, которые могут вызвать аллергию как у детей так и у взрослых️. Многие люди заблуждаются, считая, что пропылесосив диван они избавляются от пыли. 
                <br><br>
                На самом деле обычный бытовой пылесос убирает пыль лишь с самого верхнего слоя обивки, в то время как пыль, проникая глубже, так и остаётся там. Не верите? Просто взгляните на воду, оставшуюся после профессиональной химчистки. Вы удивитесь насколько вода окажется грязная, а ведь вся эта грязь и пыль была в вашем диване. 
                <br><br>
                При химчистке применяется специальная чистящая химия, которая борется не только с загрязнениями мягких поверхностей, но и дезинфицирует, а также удаляет неприятные запахи. 
            </div>
        </div>
    </div>
</div>