<div class="equipment" id="equipment">
    <div class="wrapper">
        <div class="equipment__title title">
            <h2>Оборудования и средства</h2>
        </div>
        <div class="equipment__content">
            <a class="equipment__img equipment__img-1 lazy"></a>
            <div class="equipment__text-1">
                <p>Чистить мягкую мебели, ковровые покрытия, матрацы, стулья различной сложности на дому. Без необходимости вывозить из дома. Мастер приедет и сделает все быстро и качественно. Диван получит вторую жизнь, а вы удовольствие от свежести и чистоты в доме. 
                    <br><br>
                    Для удаления загрязнений, пятен, бактерий мы используем специальные моющие средства компании karcher, и chemspec, которые не оставляют запаха, безвредны для людей и животных, имеют соответствующие сертификаты, в том числе для использования в детских учреждениях. Скажите нет неприятным запахам. Например, с плесенью, маркерами и стойким запахом мочи животных.
                    <br><br>
                    После чистки мебель и ковры остаются слегка влажными и готовы к эксплуатации через 6 - 12 часа.
                </p>
            </div>
            <a class="equipment__img equipment__img-2 lazy"></a>
            <div class="equipment__text-2">
                <p>Процесс чистки дивана занимает 1 - 1:30ч, после сохнет 6/12 часов,
                    либо дополнительная услуга сушка феном высохнет за 1:30 - 2 ч. стоимость от 1000₽ ( цена зависит от размера и материала Дивана)
                <br><br>
                Процесс чистки матраса занимает 1 - 1:30 ч. , после сохнет 6/12 часов , либо дополнительная услуга сушка феном высохнет за 1,30 - 2ч. стоимость от 800₽ за одну сторону, как правило сушат одну сторону, вторая сторона сама доходит.
                <br><br>
                Мы приедем в удобное для Вас время. Все работы производятся на дому, что позволяет Вам контролировать ход работ и сразу оценить результат!
                </p>
                <div class="equipment__benefits">
                    <div class="equipment__item">
                        <a style="background-image: url(../img/equipment/1.svg);"></a> 
                        <p>Безопасны для здоровья
                            человека и животных</p>
                    </div>
                    <div class="equipment__item">
                        <a style="background-image: url(../img/equipment/2.svg);"></a> 
                        <p>Не вызывают
                            аллергии</p>
                    </div>
                    <div class="equipment__item">
                        <a style="background-image: url(../img/equipment/3.svg);"></a> 
                        <p>Все средства имеют
                            сертификаты качества</p>
                    </div>
                    <div class="equipment__item">
                        <a style="background-image: url(../img/equipment/4.svg);"></a> 
                        <p>Имеют нейтральный запах</p>
                    </div>
                </div>
            </div>

            <!-- <a class="equipment__btn btn">Подробнее о компании</a> -->

        </div>
    </div>
</div>