<div class="examples" id="examples">
    <div class="wrapper">
        <div class="examples__title title">
            <h2>Наши работы</h2>
        </div>
        <a name="top"></a>
        <div class="examples__content">

            <div class="examples__item">
                <a href="img/examples/1-before.png" style="background-image: url(img/examples/1-before.png);" class="examples__item-left lazy" data-fancybox="gallery-examples1">
                    <span>До</span>
                </a>
                <a href="img/examples/1-after.png" style="background-image: url(img/examples/1-after.png);" class="examples__item-right lazy" data-fancybox="gallery-examples1">
                    <span>После</span>
                </a>
            </div>

            <div class="examples__item">
                <a href="img/examples/2-before.png" style="background-image: url(img/examples/2-before.png);" class="examples__item-left lazy" data-fancybox="gallery-examples2">
                    <span>До</span>
                </a>
                <a href="img/examples/2-after.png" style="background-image: url(img/examples/2-after.png);" class="examples__item-right lazy" data-fancybox="gallery-examples2">
                    <span>После</span>
                </a>
            </div>

            <div class="examples__item">
                <a href="img/examples/3-before.png" style="background-image: url(img/examples/3-before.png);" class="examples__item-left lazy" data-fancybox="gallery-examples3">
                    <span>До</span>
                </a>
                <a href="img/examples/3-after.png" style="background-image: url(img/examples/3-after.png);" class="examples__item-right lazy" data-fancybox="gallery-examples3">
                    <span>После</span>
                </a>
            </div>

            <div class="examples__item">
                <a href="img/examples/4-before.png" style="background-image: url(img/examples/4-before.png);" class="examples__item-left lazy" data-fancybox="gallery-examples4">
                    <span>До</span>
                </a>
                <a href="img/examples/4-after.png" style="background-image: url(img/examples/4-after.png);" class="examples__item-right lazy" data-fancybox="gallery-examples4">
                    <span>После</span>
                </a>
            </div>

        </div>
        <!--MoreExamples-->
        <div id="examples-more" class="examples-more">
            <div class="examples-more__grid">

                <a href="img/examples-more/1.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/1.jpg);"></a>

                <a href="img/examples-more/2.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/2.jpg);"></a>

                <a href="img/examples-more/3.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/3.jpg);"></a>

                <a href="img/examples-more/4.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/4.jpg);"></a>

                <a href="img/examples-more/5.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/5.jpg);"></a>

                <a href="img/examples-more/6.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/6.jpg);"></a>

                <a href="img/examples-more/7.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/7.jpg);"></a>

                <a href="img/examples-more/8.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/8.jpg);"></a>

                <a href="img/examples-more/9.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/9.jpg);"></a>

                <a href="img/examples-more/10.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/10.jpg);"></a>

                <a href="img/examples-more/11.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/11.jpg);"></a>

                <a href="img/examples-more/12.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/12.jpg);"></a>

                <a href="img/examples-more/13.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/13.jpg);"></a>

                <a href="img/examples-more/14.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/14.jpg);"></a>

                <a href="img/examples-more/15.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/15.jpg);"></a>

                <a href="img/examples-more/16.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/16.jpg);"></a>

                <a href="img/examples-more/17.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/17.jpg);"></a>

                <a href="img/examples-more/18.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/18.jpg);"></a>

                <a href="img/examples-more/19.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/19.jpg);"></a>

                <a href="img/examples-more/20.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/20.jpg);"></a>

                <a href="img/examples-more/21.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/21.jpg);"></a>

                <a href="img/examples-more/22.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/22.jpg);"></a>

                <a href="img/examples-more/23.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/23.jpg);"></a>

                <a href="img/examples-more/24.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/24.jpg);"></a>

                <a href="img/examples-more/25.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/25.jpg);"></a>

                <a href="img/examples-more/26.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/26.jpg);"></a>

                <a href="img/examples-more/27.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/27.jpg);"></a>

                <a href="img/examples-more/28.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/28.jpg);"></a>

                <a href="img/examples-more/29.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/29.jpg);"></a>

                <a href="img/examples-more/30.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/30.jpg);"></a>

                <a href="img/examples-more/31.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/31.jpg);"></a>

                <a href="img/examples-more/32.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/32.jpg);"></a>

                <a href="img/examples-more/33.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/33.jpg);"></a>

                <a href="img/examples-more/34.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/34.jpg);"></a>

                <a href="img/examples-more/35.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/35.jpg);"></a>

                <a href="img/examples-more/36.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/36.jpg);"></a>

                <!-- item37 -->

                <a href="img/examples-more/37.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/37.jpg);"></a>

                <a href="img/examples-more/38.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/38.jpg);"></a>

                <a href="img/examples-more/39.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/39.jpg);"></a>

                <a href="img/examples-more/40.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/40.jpg);"></a>

                <a href="img/examples-more/41.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/41.jpg);"></a>

                <a href="img/examples-more/42.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/42.jpg);"></a>

                <a href="img/examples-more/43.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/43.jpg);"></a>

                <a href="img/examples-more/44.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/44.jpg);"></a>

                <a href="img/examples-more/45.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/45.jpg);"></a>

                <a href="img/examples-more/46.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/46.jpg);"></a>

                <a href="img/examples-more/47.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/47.jpg);"></a>

                <a href="img/examples-more/48.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/48.jpg);"></a>

                <a href="img/examples-more/49.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/49.jpg);"></a>

                <a href="img/examples-more/50.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/50.jpg);"></a>

                <a href="img/examples-more/51.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/51.jpg);"></a>

                <a href="img/examples-more/52.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/52.jpg);"></a>

                <a href="img/examples-more/53.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/53.jpg);"></a>

                <a href="img/examples-more/54.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/54.jpg);"></a>

                <a href="img/examples-more/55.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/55.jpg);"></a>

                <a href="img/examples-more/56.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/56.jpg);"></a>

                <a href="img/examples-more/57.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/57.jpg);"></a>

                <a href="img/examples-more/58.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/58.jpg);"></a>

                <a href="img/examples-more/59.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/59.jpg);"></a>

                <a href="img/examples-more/60.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/60.jpg);"></a>

                <a href="img/examples-more/61.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/61.jpg);"></a>

                <a href="img/examples-more/62.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/62.jpg);"></a>

                <a href="img/examples-more/63.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/63.jpg);"></a>

                <a href="img/examples-more/64.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/64.jpg);"></a>

                <a href="img/examples-more/65.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/65.jpg);"></a>

                <a href="img/examples-more/66.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/66.jpg);"></a>

                <a href="img/examples-more/67.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/67.jpg);"></a>

                <a href="img/examples-more/68.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/68.jpg);"></a>

                <a href="img/examples-more/69.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/69.jpg);"></a>

                <a href="img/examples-more/70.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/70.jpg);"></a>

                <a href="img/examples-more/71.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/71.jpg);"></a>

                <a href="img/examples-more/72.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/72.jpg);"></a>

                <!-- item73 -->

                <a href="img/examples-more/73.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/73.jpg);"></a>

                <a href="img/examples-more/74.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/74.jpg);"></a>

                <a href="img/examples-more/75.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/75.jpg);"></a>

                <a href="img/examples-more/76.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/76.jpg);"></a>

                <a href="img/examples-more/77.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/77.jpg);"></a>

                <a href="img/examples-more/78.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/78.jpg);"></a>

                <a href="img/examples-more/79.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/79.jpg);"></a>

                <a href="img/examples-more/80.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/80.jpg);"></a>

                <a href="img/examples-more/81.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/81.jpg);"></a>

                <a href="img/examples-more/82.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/82.jpg);"></a>

                <a href="img/examples-more/83.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/83.jpg);"></a>

                <a href="img/examples-more/84.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/84.jpg);"></a>

                <a href="img/examples-more/85.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/85.jpg);"></a>

                <a href="img/examples-more/86.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/86.jpg);"></a>

                <a href="img/examples-more/87.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/87.jpg);"></a>

                <a href="img/examples-more/88.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/88.jpg);"></a>

                <a href="img/examples-more/89.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/89.jpg);"></a>

                <a href="img/examples-more/90.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/90.jpg);"></a>

                <a href="img/examples-more/91.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/91.jpg);"></a>

                <a href="img/examples-more/92.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/92.jpg);"></a>

                <a href="img/examples-more/93.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/93.jpg);"></a>

                <a href="img/examples-more/94.jpg" data-fancybox="gallery-examples" class="examples-more__item lazy" style="background-image: url(img/examples-more/94.jpg);"></a>

            </div>
        </div>
        <a href="#top" class="examples__btn btn" data-target="#examples-more"></a>
    </div>
</div>