<div class="examples" id="examples">
    <div class="wrapper">
        <div class="examples__title title">
            <h2>Наши работы</h2>
        </div>
        <div class="examples__content">

            <div class="examples__item">
                <a style="background-image: url(img/examples/1-before.png);" class="examples__item-left lazy">
                    <span>До</span>
                </a>
                <a style="background-image: url(img/examples/1-after.png);" class="examples__item-right lazy">
                    <span>После</span>
                </a>
            </div>

            <div class="examples__item">
                <a style="background-image: url(img/examples/2-before.png);" class="examples__item-left lazy">
                    <span>До</span>
                </a>
                <a style="background-image: url(img/examples/2-after.png);" class="examples__item-right lazy">
                    <span>После</span>
                </a>
            </div>

            <div class="examples__item">
                <a style="background-image: url(img/examples/3-before.png);" class="examples__item-left lazy">
                    <span>До</span>
                </a>
                <a style="background-image: url(img/examples/3-after.png);" class="examples__item-right lazy">
                    <span>После</span>
                </a>
            </div>

            <div class="examples__item">
                <a style="background-image: url(img/examples/4-before.png);" class="examples__item-left lazy">
                    <span>До</span>
                </a>
                <a style="background-image: url(img/examples/4-after.png);" class="examples__item-right lazy">
                    <span>После</span>
                </a>
            </div>

        </div>
        <!--MoreExamples-->
        <div id="examples-more">

            <div class="examples__content examples__content_more">
                <div class="examples__item">
                    <a style="background-image: url(img/examples/1-before.png);" class="examples__item-left lazy">
                        <span>До</span>
                    </a>
                    <a style="background-image: url(img/examples/1-after.png);" class="examples__item-right lazy">
                        <span>После</span>
                    </a>
                </div>

                <div class="examples__item">
                    <a style="background-image: url(img/examples/2-before.png);" class="examples__item-left lazy">
                        <span>До</span>
                    </a>
                    <a style="background-image: url(img/examples/2-after.png);" class="examples__item-right lazy">
                        <span>После</span>
                    </a>
                </div>

                <div class="examples__item">
                    <a style="background-image: url(img/examples/3-before.png);" class="examples__item-left lazy">
                        <span>До</span>
                    </a>
                    <a style="background-image: url(img/examples/3-after.png);" class="examples__item-right lazy">
                        <span>После</span>
                    </a>
                </div>

                <div class="examples__item">
                    <a style="background-image: url(img/examples/4-before.png);" class="examples__item-left lazy">
                        <span>До</span>
                    </a>
                    <a style="background-image: url(img/examples/4-after.png);" class="examples__item-right lazy">
                        <span>После</span>
                    </a>
                </div>
            </div>

        </div>
        <a class="examples__btn btn" data-target="#examples-more"></a>
    </div>
</div>