<div class="havequestions">
    <div class="wrapper">
        <div class="havequestions__content">
            <div class="havequestions__title">
                <h2>Остались вопросы?</h2>
                <p>Закажите звонок и наш менеджер свяжеться с вами в ближайшее время.</p>
            </div>
            <form action="" class="havequestions__form form">
                <input id="phone1" type="tel" placeholder="Введите свой телефон" maxlength="14" onKeyPress="cislo()">
                <input type="submit" class="btn" value="Оставить заявку">
            </form>
        </div>
    </div>
</div>