<div class="howto">
    <div class="wrapper">
        <div class="howto__title title"> 
            <h2>Как мы чистим диваны?</h2>
        </div>
        <p class="howto__info">Мы приедем в удобное для Вас время. Все работы производятся на дому, что позволяет Вам контролировать ход работ и сразу оценить результат!</p>
        <div class="howto__slider">
            <div class="slider-howto">
                <div class="slider-howto__slide">
                    <a style="background-image: url(img/howto/1.png);"></a>
                </div>
                <div class="slider-howto__slide">
                    <a style="background-image: url(img/howto/2.png);"></a>
                </div>
                <div class="slider-howto__slide">
                    <a style="background-image: url(img/howto/3.png);"></a>
                </div>
                <div class="slider-howto__slide">
                    <a style="background-image: url(img/howto/4.png);"></a>
                </div>
            </div>
        </div>
    </div>
</div>