<div class="howto">
    <div class="wrapper">
        <div class="howto__title title"> 
            <h2>Как мы чистим диваны?</h2>
        </div>
        <p class="howto__info">Мы приедем в удобное для Вас время. Все работы производятся на дому, что позволяет Вам контролировать ход работ и сразу оценить результат!</p>
        <div class="howto__slider">
            <div class="slider-howto">
                <div class="slider-howto__slide">
                    <a class="lazy" style="background-image: url(img/howto/1.png); --my-color-var: rgba(27, 117, 187, 0.3);"></a>
                </div>
                <div class="slider-howto__slide">
                    <a class="lazy" style="background-image: url(img/howto/2.png); --my-color-var: rgba(94, 23, 168, 0.3);"></a>
                </div>
                <div class="slider-howto__slide">
                    <a class="lazy" style="background-image: url(img/howto/3.png); --my-color-var: rgba(27, 117, 187, 0.3);"></a>
                </div>
                <div class="slider-howto__slide">
                    <a class="lazy" style="background-image: url(img/howto/4.png); --my-color-var: rgba(27, 117, 187, 0.3);"></a>
                </div>
            </div>
        </div>
    </div>
</div>