<div class="howto">
    <div class="wrapper">
        <div class="howto__title title"> 
            <h2>Как мы чистим диваны?</h2>
        </div>
        <p class="howto__info">Мы приедем в удобное для Вас время. Все работы производятся на дому, что позволяет Вам контролировать ход работ и сразу оценить результат!</p>
        <div class="howto__slider">
            <div class="slider-howto">
                <div class="slider-howto__slide">
                    <a class="lazy" data-fancybox href="https://www.youtube.com/watch?v=OFbvXIipx70" style="background-image: url(http://img.youtube.com/vi/OFbvXIipx70/mqdefault.jpg); --my-color-var: rgba(27, 117, 187, 0.3);"></a>
                </div>
                <div class="slider-howto__slide">
                    <a class="lazy" data-fancybox href="https://www.youtube.com/watch?v=eYEa2l_09Tw" style="background-image: url(http://img.youtube.com/vi/eYEa2l_09Tw/mqdefault.jpg); --my-color-var: rgba(27, 117, 187, 0.3);"></a>
                </div>
                <div class="slider-howto__slide">
                    <a class="lazy" data-fancybox href="https://www.youtube.com/watch?v=iNIdaMv67BM" style="background-image: url(http://img.youtube.com/vi/iNIdaMv67BM/mqdefault.jpg); --my-color-var: rgba(27, 117, 187, 0.3);"></a>
                </div>
                <div class="slider-howto__slide">
                    <a class="lazy" data-fancybox href="https://www.youtube.com/watch?v=iNIdaMv67BM" style="background-image: url(http://img.youtube.com/vi/iNIdaMv67BM/mqdefault.jpg); --my-color-var: rgba(27, 117, 187, 0.3);"></a>
                </div>
            </div>
        </div>
    </div>
</div>