<div class="intro">
    <div class="wrapper">
        <div class="intro__content">
            <h1 class="intro__title">Химчистка мягкой мебели на дому</h1>
            <p class="intro__info">Апрель-клининг - клининговая компания, которая предоставляет профессиональные услуги на рынке Санкт-Петерурга <span>с 2009 года.</span></p>
            <form action="" class="intro__form form">
                <input type="tel" placeholder="Введите свой телефон">
                <input type="submit" class="btn" value="Оставить заявку">
            </form>
        </div>
    </div>
</div>