<div class="intro__gradient">
    <div class="intro">
        <div class="wrapper">
            <div class="intro__content">
                <h1 class="intro__title">Химчистка мягкой мебели на дому</h1>
                <p class="intro__info">Апрель-клининг - клининговая компания, которая предоставляет профессиональные услуги на рынке Санкт-Петерурга <span>с 2009 года.</span></p>
                <form action="mail.php" method="post" id="form" class="intro__form form">
                    <input name="number" id="phone" type="tel" placeholder="Введите свой телефон" maxlength="20" onKeyPress="cislo()" required>
                    <input type="submit" class="btn" value="Оставить заявку">
                </form>
            </div>
        </div>
    </div>
</div>