<div class="questions">
    <div class="wrapper">
        <div class="questions__title title">
            <h2>Отвечаем на ваши вопросы</h2>
        </div>
        <div class="questions__content">

            <div class="questions__elem">
                <a class="questions__smalltitle" data-target="#text-1">Как долго мастер будет проводить химчистку?</a>
                <div id="text-1" class="questions__text">
                    Да, мы даем 100% гарантию при условии, что пятна на вашем диване свежие, вы их не затирали и не проводили самостоятельную чистку дивана бытовыми моющими средствами типа Vanish. Перед началом работ мастер обязательно осматривает диван и загрязнения на нем. Если какие-то пятна вывести не удастся или аквачистка вашему дивану просто противопоказана, мастер обязательно предупредит вас об этом.
                </div>
            </div>

            <div class="questions__elem">
                <a class="questions__smalltitle" data-target="#text-2">Когда можно будет пользоваться диваном?</a>
                <div id="text-2" class="questions__text">
                    Да, мы даем 100% гарантию при условии, что пятна на вашем диване свежие, вы их не затирали и не проводили самостоятельную чистку дивана бытовыми моющими средствами типа Vanish. Перед началом работ мастер обязательно осматривает диван и загрязнения на нем. Если какие-то пятна вывести не удастся или аквачистка вашему дивану просто противопоказана, мастер обязательно предупредит вас об этом.
                </div>
            </div>

            <div class="questions__elem">
                <a class="questions__smalltitle" data-target="#text-3">Вы сможете почистить съемный чехол от дивана?</a>
                <div id="text-3" class="questions__text">
                    Да, мы даем 100% гарантию при условии, что пятна на вашем диване свежие, вы их не затирали и не проводили самостоятельную чистку дивана бытовыми моющими средствами типа Vanish. Перед началом работ мастер обязательно осматривает диван и загрязнения на нем. Если какие-то пятна вывести не удастся или аквачистка вашему дивану просто противопоказана, мастер обязательно предупредит вас об этом.
                </div>
            </div>

            <div class="questions__elem">
                <a class="questions__smalltitle" data-target="#text-4">Нужно ли как-то подготовиться к приезду мастера?</a>
                <div id="text-4" class="questions__text">
                    Да, мы даем 100% гарантию при условии, что пятна на вашем диване свежие, вы их не затирали и не проводили самостоятельную чистку дивана бытовыми моющими средствами типа Vanish. Перед началом работ мастер обязательно осматривает диван и загрязнения на нем. Если какие-то пятна вывести не удастся или аквачистка вашему дивану просто противопоказана, мастер обязательно предупредит вас об этом.
                </div>
            </div>

            <div class="questions__elem">
                <a class="questions__smalltitle" data-target="#text-5">Насколько безопасно проведение химчистки дома?</a>
                <div id="text-5" class="questions__text">
                    Да, мы даем 100% гарантию при условии, что пятна на вашем диване свежие, вы их не затирали и не проводили самостоятельную чистку дивана бытовыми моющими средствами типа Vanish. Перед началом работ мастер обязательно осматривает диван и загрязнения на нем. Если какие-то пятна вывести не удастся или аквачистка вашему дивану просто противопоказана, мастер обязательно предупредит вас об этом.
                </div>
            </div>

            <div class="questions__elem">
                <a class="questions__smalltitle" data-target="#text-6">Вы чистите диваны с любыми обивками?</a>
                <div id="text-6" class="questions__text">
                    Да, мы даем 100% гарантию при условии, что пятна на вашем диване свежие, вы их не затирали и не проводили самостоятельную чистку дивана бытовыми моющими средствами типа Vanish. Перед началом работ мастер обязательно осматривает диван и загрязнения на нем. Если какие-то пятна вывести не удастся или аквачистка вашему дивану просто противопоказана, мастер обязательно предупредит вас об этом.
                </div>
            </div>

            <div class="questions__elem">
                <a class="questions__smalltitle" data-target="#text-7">Что делать, если не все пятна ушли и результат не удовлетворил?</a>
                <div id="text-7" class="questions__text">
                    Да, мы даем 100% гарантию при условии, что пятна на вашем диване свежие, вы их не затирали и не проводили самостоятельную чистку дивана бытовыми моющими средствами типа Vanish. Перед началом работ мастер обязательно осматривает диван и загрязнения на нем. Если какие-то пятна вывести не удастся или аквачистка вашему дивану просто противопоказана, мастер обязательно предупредит вас об этом.
                </div>
            </div>

            <div class="questions__elem">
                <a class="questions__smalltitle" data-target="#text-8">Гарантируете ли вы полное удаление пятен с дивана?</a>
                <div id="text-8" class="questions__text">
                    Да, мы даем 100% гарантию при условии, что пятна на вашем диване свежие, вы их не затирали и не проводили самостоятельную чистку дивана бытовыми моющими средствами типа Vanish. Перед началом работ мастер обязательно осматривает диван и загрязнения на нем. Если какие-то пятна вывести не удастся или аквачистка вашему дивану просто противопоказана, мастер обязательно предупредит вас об этом.
                </div>
            </div>

        </div>
    </div>
</div>