<div class="reviews">
    <div class="wrapper">
        <div class="reviews__title title">
            <h2>Отзывы наших клиентов</h2>
        </div>
        <div class="reviews__slider">
            <div class="slider-reviews">

                <div class="slider-reviews__slide">
                    <div class="slider-reviews__name">
                        <a style="background-image: url(img/reviews/1.png);"></a>
                        <p>9/13/2021</p>
                    </div>
                    <div class="slider-reviews__text">
                        Спасибо за чистые окна в нашей квартире. Все вовремя, оперативно и главное очень чисто!!! Будем рекомендовать вас теперь знакомым )) Остались очень довольны
                    </div>
                </div>

                <div class="slider-reviews__slide">
                    <div class="slider-reviews__name">
                        <a style="background-image: url(img/reviews/2.png);"></a>
                        <p>9/13/2021</p>
                    </div>
                    <div class="slider-reviews__text">
                        Очень быстро и качественно помыли окна нашего детского сада с Московском районе. Большое спасибо вашей команде от всех родителей и педагогов! Вы молодцы, до встречи следующей весной!
                    </div>
                </div>

                <div class="slider-reviews__slide">
                    <div class="slider-reviews__name">
                        <a style="background-image: url(img/reviews/2.png);"></a>
                        <p>9/14/2021</p>
                    </div>
                    <div class="slider-reviews__text">
                        Очень быстро и качественно помыли окна нашего детского сада с Московском районе. Большое спасибо вашей команде от всех родителей и педагогов! Вы молодцы, до встречи следующей весной!
                    </div>
                </div>

                <div class="slider-reviews__slide">
                    <div class="slider-reviews__name">
                        <a style="background-image: url(img/reviews/1.png);"></a>
                        <p>9/19/2021</p>
                    </div>
                    <div class="slider-reviews__text">
                        Очень быстро и качественно помыли окна нашего детского сада с Московском районе. Большое спасибо вашей команде от всех родителей и педагогов! Вы молодцы, до встречи следующей весной!
                    </div>
                </div>

            </div>
        </div>
        <a class="reviews__btn btn">Больше отзывов</a>
    </div>
</div>