<div class="services">
    <div class="wrapper">
        <div class="services__title title">
            <h2>Наши услуги</h2>
        </div>
        <div class="services__content">
            <div class="services__furniture furniture">

                <div class="furniture__card">
                   <a class="furniture__img" style="background-image: url(../img/services/1.svg);"></a> 
                   <h4 class="furniture__title">Диван</h4>
                   <p class="furniture__price">от 700 руб</p>
                   <a class="furniture__btn btn btn_white">Заказать</a>
                </div>

                <div class="furniture__card">
                    <a class="furniture__img" style="background-image: url(../img/services/2.svg);"></a> 
                    <h4 class="furniture__title">Кресло</h4>
                    <p class="furniture__price">от 700 руб</p>
                    <a class="furniture__btn btn btn_white">Заказать</a>
                </div>

                <div class="furniture__card">
                    <a class="furniture__img" style="background-image: url(../img/services/3.svg);"></a> 
                    <h4 class="furniture__title">Кровать</h4>
                    <p class="furniture__price">от 700 руб</p>
                    <a class="furniture__btn btn btn_white">Заказать</a>
                </div>

                <div class="furniture__card">
                    <a class="furniture__img" style="background-image: url(../img/services/4.svg);"></a> 
                    <h4 class="furniture__title">Стул</h4>
                    <p class="furniture__price">от 700 руб</p>
                    <a class="furniture__btn btn btn_white">Заказать</a>
                </div>

                <div class="furniture__card">
                    <a class="furniture__img" style="background-image: url(../img/services/5.svg);"></a> 
                    <h4 class="furniture__title">Матрас</h4>
                    <p class="furniture__price">от 2000 руб</p>
                    <a class="furniture__btn btn btn_white">Заказать</a>
                </div>

                <div class="furniture__card">
                    <a class="furniture__img" style="background-image: url(../img/services/6.svg);"></a> 
                    <h4 class="furniture__title">Пуф</h4>
                    <p class="furniture__price">от 700 руб</p>
                    <a class="furniture__btn btn btn_white">Заказать</a>
                </div>

                <div class="furniture__card">
                    <a class="furniture__img" style="background-image: url(../img/services/7.svg);"></a> 
                    <h4 class="furniture__title">Угловой диван</h4>
                    <p class="furniture__price">от 700 руб</p>
                    <a class="furniture__btn btn btn_white">Заказать</a>
                </div>
                
            </div>
            <div class="services__serv serv">

                <div class="serv__card">
                    <a class="serv__img" style="background-image: url(../img/services/8.svg);"></a> 
                    <div class="serv__info">
                        <h4 class="serv__title">Химчистка и сушка ковровых покрытий</h4>
                        <p class="serv__price">от 250 руб за кв.м.</p>
                        <a class="serv__btn btn btn_white">Заказать</a>
                    </div>
                </div>

                <div class="serv__card">
                    <a class="serv__img" style="background-image: url(../img/services/9.svg);"></a> 
                    <div class="serv__info">
                        <h4 class="serv__title">Ароматизация мебели (удаление запахов)</h4>
                        <p class="serv__price">от 690 руб</p>
                        <a class="serv__btn btn btn_white">Заказать</a>
                    </div>
                </div>

                <div class="serv__card">
                    <a class="serv__img" style="background-image: url(../img/services/10.svg);"></a> 
                    <div class="serv__info">
                        <h4 class="serv__title">Мытьё окон, балконов и витрин</h4>
                        <p class="serv__price">от 400 руб</p>
                        <a class="serv__btn btn btn_white">Заказать</a>
                    </div>
                </div>

                <div class="serv__stock">
                    <h4>Акция</h4>
                    <p>При чистке мягкой мебели или ковровых покрытий, при сумме заказа от 10 000 руб. сушка одного любого предмета на ваш выбор , идёт в подарок!</p>
                </div>

                <a class="services__btn btn">Вызвать мастера</a>

            </div>
        </div>
    </div>
</div>