<div class="steps">
    <div class="wrapper">
        <div class="steps__title title">
            <h2>Как проходит химчистка?</h2>
        </div>
        <div class="steps__content">

            <div class="steps__step">
                <a>1</a>
                <p>Диагностика ткани и подбор химии</p>
            </div>

            <div class="steps__step">
                <a>2</a>
                <p>Глубинное вакумное обеспыливание</p>
            </div>

            <div class="steps__step not-before">
                <a>3</a>
                <p>Обработка локальных пятен</p>
            </div>

            <div class="steps__step">
                <a>4</a>
                <p>Нанесение чистяшего средства</p>
            </div>

            <div class="steps__step">
                <a>5</a>
                <p>Промывка и извлечение влаги экстрактом</p>
            </div>

            <div class="steps__step not-before">
                <a>6</a>
                <p>Сушка</p>
            </div>

        </div>
    </div>
</div>